@import './base.css';
/* CSS Dark mode design */ 

.dark{
  color-scheme: dark;
  --color-background: #333652; /* it's better to use a dark grey color instead of pure black */
}

.dark .app{
  color: #adb5bd;
}

.dark a, .nav-link, .dark .btn.nav-link{
  color: #adb5bd;
}

.dark button.btn.item-dark-reader i{
  color: #0085A6;
}

.dark .banner-ctr .design-bckgrd::before{
  background-color: ghostwhite;
}



/* App Design */
.app{
  color: #485665;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
}
h1, h2, h4{
  font-family: 'League Gothic', sans-serif;
}
.main-title-ctr{
  display: flex;
  align-items: center;
  margin: 80px 20px;
}
.main-title-ctr #four-dot-punctuation{
  position: relative;
  top: -4px;
  margin-right: 25px;
  opacity: 0;
  color: #F76F00;
  font-weight: 900;
}
.main-title-ctr h3{
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold;
  margin: 0;
  font-size: 40px;
}


a,.nav-link{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: #F76F00;
  
}

@media (hover: hover) {
  a:hover, .nav-link:hover {
    color: #F76F00;
  }
}
@media (max-width: 2000px){
  body { 
    overflow:scroll !important;
    padding-right: 0px !important 
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}